<section>
  <h3>{{site.blogroll_name}}</h3>
  <!-- IMPORTANT: Do not change the below ID as it will affect the functioning of the plugin-->
    <ul id="blogroll-list">{% blogroll_list %}</ul>
    {% if site.blogroll_show_latest_post %}
    <script type="text/javascript">
      $(document).ready(function(){
        updateFeeds({{site.blogroll_enable_js_sort}});
      });
    </script>
    <script src="{{ root_url }}/javascripts/tinysort-min.js"></script>
    <script src="{{ root_url }}/javascripts/blogroll.js"></script>
    {% endif %}
</section>
