<section class="well">
  <h3>{{site.blogroll_name}}</h3>
    <ul id="blogroll-list" class="nav">{% blogroll_list %}</ul>
    <script type="text/javascript">
      {% if site.blogroll_show_latest_post %}
        $(document).ready(function(){
          updateFeeds();
          {% if site.blogroll_enable_js_sort %}
            setTimeout(function() {$('ul#blogroll-list>li').tsort({order:'desc',attr:'age'})},{{site.blogroll_sort_timeout}});
          {% endif %}
        });
      {% endif %}
    </script>
    <script src="{{ root_url }}/javascripts/tinysort-min.js"></script>
    <script src="{{ root_url }}/javascripts/blogroll.js"></script>
</section>
